<!DOCTYPE html>

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/dashboard.css" th:href="@{/assets/css/dashboard.css}" rel="stylesheet">


    <script type="text/javascript" src="../static/assets/js/jquery.min.js"
            th:src="@{/assets/js/jquery.min.js}"></script>

    <script type="text/javascript">

        (function ($) {
            const flush = function (score, option) {
                let preScore = this.data("preScore") ? this.data("preScore") : 0;
                let radius = option.radius; //圆的半径
                let angle = option.angle;

                let canvas = this[0];
                let ctx = canvas.getContext('2d');
                let width = radius * 2 + option.progresslineWidth * 2;
                let addHeight = Math.sin(angle * 2 * Math.PI / 360) * (radius + option.progresslineWidth);
                let height = radius + addHeight + option.progresslineWidth;
                this.attr("width", width);
                // this.attr("height", height);
                this.attr("height", width);
                let addPI = angle * Math.PI / 180;
                ctx.translate(width / 2, height - addHeight);

                function draw(flag) {
                    ctx.save();
                    ctx.clearRect(-width / 2, -height, width, height + addHeight);
                    ctx.beginPath();
                    ctx.strokeStyle = option.progresslineColor;
                    ctx.lineWidth = option.progresslineWidth;
                    ctx.arc(0, 0, radius, Math.PI - addPI, 2 * Math.PI + addPI);
                    ctx.stroke();

                    let stepRadian = (Math.PI + addPI * 2) / option.max;//步长弧度
                    ctx.beginPath();
                    ctx.strokeStyle = option.progressColor(preScore);
                    let tempScore = preScore > option.max ? option.max : preScore;
                    ctx.arc(0, 0, radius, Math.PI - addPI, stepRadian * tempScore - addPI + Math.PI);
                    ctx.stroke();

                    ctx.beginPath();
                    ctx.font = "70px Microsoft yahei";
                    ctx.textAlign = "center";
                    ctx.fillText(option.text, 0, -10 + addHeight * 0.5)
                    ctx.stroke();
                    ctx.beginPath();
                    ctx.font = "70px Microsoft yahei";
                    ctx.textAlign = "center";
                    ctx.fillText(preScore + option.scoreSuffix, 0, -height / 2 + addHeight * 0.8);
                    ctx.stroke();

                    ctx.beginPath();
                    option.draw(ctx, preScore);
                    ctx.stroke();

                    if (flag && preScore < score) {
                        preScore += option.step;
                        preScore = preScore > score ? score : preScore
                        setTimeout(function () {
                            draw(true)
                        }, 20);
                    }
                    if (!flag && preScore > score) {
                        preScore -= option.step;
                        preScore = preScore < score ? score : preScore
                        setTimeout(function () {
                            draw(false)
                        }, 20);
                    }
                }

                draw(preScore <= score);
            }

            let defaultOption = {
                "max": 100,
                "step": 1,
                "angle": 25,
                "radius": 200,
                "progresslineWidth": 15,
                "progresslineColor": "#e3e8ee",
                "scoreSuffix": "",
                "text": "高风险",
                "progressColor": function (score) {
                    return "#2b85e4"
                },
                "draw": function (ctx, score) {

                }
            }

            $.fn.extend({
                dashboard: function (score, option) {
                    let preScore = this.data("preScore");
                    flush.call(this, score, $.extend({}, defaultOption, option))
                    this.data("preScore", score);
                    return this;
                }
            });
        }($))

        refresh();

        function refresh() {
            // console.log($("#attendance").val())


            $("#canvas1").dashboard(parseInt($("#attendance").val()), {
                "text": "出勤",
                "max": 100,
                "step": 1,
                "scoreSuffix": "%",
                "angle": 25,
                "progressColor": (score) => {
                    return score > 90 ? "#199c19" : score > 60 ? "#2b85e4" : "#ff0000"
                }
            });


            $("#canvas2").dashboard(parseInt($("#risk").val()), {
                "text": "风险",
                "max": 100,
                "step": 1,
                "angle": 25,
                "progressColor": (score) => {
                    return score > 500 ? "red" : "#2b85e4"
                }
            });
            $("#canvas3").dashboard(parseInt($("#speed").val()), {
                    "text": "稳定性",
                    // "scoreSuffix": "km/h",
                    "angle": 25
                }
            );
            $("#canvas4").dashboard(parseInt($("#status").val()), {
                    "text": "当前状态",
                    "max": 100,
                    "step": 1,
                    "angle": 25,
                    "progressColor": (score) => {
                        return score > 60 ? "#00FF00" : "#2b85e4"
                    }
                }
            );
        }

    </script>

</head>

<body data-gr-c-s-loaded="true" onload="refresh()">


<div th:replace="~{common/bar :: navbar}"></div>


<div class="container-fluid">
    <div class="row">
        <div th:replace="common/bar:: nav-sidebar(menu='overview') "></div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>


            <div class="row placeholders">

                <div class="col-xs-6 col-sm-3 placeholder">

                    <input id="risk" hidden="hidden" th:value="${risk}" value="55"/>
                    <canvas style="display:inline-block;width: 150px " id="canvas1"></canvas>
                    <!--                    <h4>Canvas</h4>-->
                    <!--                    <span class="text-muted">Something else</span>-->
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <input id="attendance" hidden="hidden" th:value="${attendance}" value="100"/>
                    <canvas style="display:inline-block;width: 150px" id="canvas2"></canvas>
                    <!--                    <h4>Label</h4>-->
                    <!--                    <span class="text-muted">Something else</span>-->
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">

                    <input id="speed" hidden="hidden" th:value="${speed}" value="75"/>
                    <canvas style="display:inline-block;width: 150px" id="canvas3"></canvas>
                    <!--                    <h4>Label</h4>-->
                    <!--                    <span class="text-muted">Something else</span>-->
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <input id="status" hidden="hidden" th:value="${status}" value="78"/>
                    <canvas style="display:inline-block;width: 150px" id="canvas4"></canvas>
                    <!--                    <h4>Label</h4>-->
                    <!--                    <span class="text-muted">Something else</span>-->
                </div>

            </div>
            <input hidden="hidden" type="button" value="刷新" onClick="refresh()"/>

            <h1 class="page-header">活动参与情况</h1>
            <div class="row placeholders">
                <h2>当前参与人数：<span style="color: #FF0000" th:text="${count}">100</span></h2>
            </div>

        </div>
    </div>


</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="./assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>-->
<script>window.jQuery || document.write('<script src="../static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"><\/script>')</script>
<script src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../static/assets/js/holder.min.js" th:src="@{/assets/js/holder.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"
        th:src="@{/assets/js/ie10-viewport-bug-workaround.js}"></script>


</body>
</html>