<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成功界面</title>
</head>
<body>
<h1>登录成功</h1>
<h1 th:text="'Hello'+${#request.getParameter('username')}">Hello world</h1>
<hr width="80%" color="#FF0000"/>
<h2 th:text="'your age is '+${age}">user age</h2>
<h2 th:text="'your mail is '+${mail}">user mail</h2>

local country: <span th:text="${#locale.country}">ZH</span>

<span th:text="${param.size()}">size</span>
<span th:text="${session.isEmpty()}">null</span>

<div th:each="list : ${lists}" th:text="${list}"></div>

</body>
</html>