<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.console.mapper.UserMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into user(name,student_id,tel,mail,uuid) values (
        #{name},#{studentId},#{tel},#{mail},#{uuid}
        )
    </insert>

    <update id="update">
        update user
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="studentId!=null">student_id=#{studentId},</if>
            <if test="tel!=null">tel=#{tel},</if>
            <if test="mail!=null">mail=#{mail},</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteById">
        delete from user where id=#{id}
    </delete>


    <select id="queryAll" resultType="com.console.entity.User">
        select * from user
    </select>

    <select id="getByTelOrMail" resultType="com.console.entity.User">
        select * from user where tel = #{tel} or mail = #{mail}
    </select>
    <select id="queryById" resultType="com.console.entity.User">
        select * from user where id=#{id}
    </select>
    <select id="userCount" resultType="java.lang.Integer">
        select count(*) from user;
    </select>


</mapper>